$color-black: #000000;
$color-dark-gray: #404040;
$color-gray: #a5a5a5;
$color-light-gray: #C7C7C7;
$color-white: #FFFFFF;

$color-dark-blue: #197BBD;
$color-blue: #3391D0;
$color-light-blue: #F0F7FF;
$color-sky: #70A6E8;
$color-yellow: #FFC145;
$color-sea-green: #439A86;
$color-green: #209D43;
$color-orange: #FCAE73;
$color-red: #BB4430;